<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/common_head :: commonHeader('首页')">
</head>

<body>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3>访问model</h3>
    </div>
    <div class="panel-body">
        <span th:text="${singlePerson.name}"></span>
    </div>
</div>

<div th:if="${not #lists.isEmpty(people)}">
    <div class="panel panel-primary">
        <div class="panel panel-heading">
            <h3 class="panel-title">列表</h3>
        </div>
        <div class="list-group">
            <ul class="list-group">
                <li class="list-group-item" th:each="person:${people}">
                    <span th:text="${person.name}"></span>
                    <span th:text="${person.age}"></span>
                    <button class="btn btn-info" th:onclick="'getName(\''+${person.name}+'\');'">获得名字</button>
                </li>
            </ul>
        </div>
    </div>
</div>

<div>
    <a href="/ws">进入广播室</a>
    <br/><br/>
    <a href="/chat">进入聊天室</a>
</div>

<script th:inline="javascript">
    var single=[[${singlePerson}]];
    console.log(single.name+"/"+single.age);

    function getName(name){
        alert(name);
        console.log(name)
    }
</script>

</body>
</html>